@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    background-color: #F4F4F4;
}

h1 {
    font-family: "Inconsolata";
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

#opt {
    font-size: 20px;
    margin: 0;

}

#configurator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

#product-preview {
    width: auto;
    height: 35vw;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(167, 167, 167, 0.2)
}

#product-preview svg {
    width: auto;
    height: 30vw;
    padding: 20px;
}


.flex {
    width: 325px;
    height: auto;
}



#options {
    margin: auto;
    justify-content: center;

}

#options img {
    width: auto;
    height: 80px;
}

.option {
    margin: 0;

}
h2, figcaption {
    font-family: "Montserrat";
}
.colors-container {
    width: auto;

    margin-bottom: 20px;
}

.colors-temp {
    display: block;
}

.colors-3 {
    width: 160px;
}

.colors-6 {
    width: 325px;
}
.color_btn {
    width: 100px;
    height: 100px;
    stroke: none;
}
#Shadow_Image-2 {
    pointer-events: none;

}

#Sunglasses_Image {
    display: none;

}

#sunglasses {
    width: 70px !important;
    height: auto !important;
    padding: 20px 0;
}

.g_to_interact_with {
    fill: transparent;
}

path {
    stroke-width: 2;
}

.display_block {
    display: block !important;
}

@media only screen and (max-width: 1024px) {
    #configurator {
        flex-direction: column;
    }

    .flex {
        width: 100%;
    }

    #product-preview {
        height: 200px;
    }
    
    #product-preview svg {
        width: 100%;
        padding: 0;
    }

    .option {
        flex-direction: row;
    }

    #options {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #options-3 {
        display: flex;
        justify-content: left;
    }
}