body {
    margin: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(224, 224, 224);
    z-index: 11;
    font-size: 30px;
}
section {
    height: 100vh;
    background-color: #fff;
}

#start_section{
    width: 100vw;
    display: block;
    z-index: 800;
    background-color: #000;
}

#the_section {
    background: linear-gradient(rgb(0, 0, 0) 30%, rgba(255,255,255,1) 70%);
}


.paragraph {
    position: fixed;
    top: 40%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    color: rgb(224, 224, 224);
    z-index: 10;
    font-size: 20px;
}
.dark {
    color: rgb(129, 129, 129);
}
#my-img {
    filter: brightness(40%);
}

.fullImg{
    width: 95vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}
